 1_parcial\analizadorSintactico\compiladoresScanner\pom.xml
 1_parcial\analizadorSintactico\compiladoresScanner\target
 1_parcial\analizadorSintactico\compiladoresScanner\pom.xml
/1_parcial/analizadorSintactico/compiladoresScanner/target/
/2_Parcial/ASDI/target/
/2_Parcial/ASAI/target/
/3_Parcial/Abstracto/target/
/3_Parcial/Nueva carpeta/Abstracto/target/
